<h1>
    {{#if isSignup}}
    Registrate!!
    {{else}}
    Ingresa!!!
    {{/if}}
</h1>

<form action="{{#if isSignup}}/user/signup{{else}}/user/login{{/if}}" method="post">

    <label for="">Correo</label>
    <input type="text" name="email" >
    {{#if isSignup}}
    <label for="">Nombre</label>
    <input type="text" name="firstName" >

    <label for="">Apellido</label>
    <input type="text" name="lastName" >
    {{/if}}

    <label for="">Contraseña</label>
    <input type="password" name="password" >

    <button type="submit">Enviar</button>
</form>

{{#if errorMessage}}
    {{!-- es por si tenemos muchos --}}
    <ul>
        {{#each errorMessage}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
{{/if}}