

{{!-- From --}}
<form action="/login"  method="POST">

    <label for="username">Username</label>
    <input type="text" name="username">

    <label for="password">Password</label>
    <input type="text" name="password">

    <label>Demo</label>
    <input type="text" name="pizza" />

    <button type="submit">Enviar</button>
</form>